<div class="container">
  <div class="filters mt-5">
    <div class="row">
      <div class="form-group col-4">
        <select name="currentCategory"
                class="form-control"
                [(ngModel)]="currentCategory"
                (change)="onChange()"
        >
          <option *ngFor="let category of categoryList" [ngValue]="category">{{category}}</option>
        </select>
      </div>
      <div class="form-group col-4">
        <select name="currentCountry"
                class="form-control"
                [(ngModel)]="currentCountry"
                (change)="onChange()"
        >
          <option *ngFor="let country of countryList" [ngValue]="country">{{country}}</option>
        </select>
      </div>
      <div class="form-group col-4">
        <select name="currentSource"
                class="form-control"
                [(ngModel)]="currentSource"
                (change)="onChangeSource()"
                [disabled]="!sourceList.length"
        >
          <option *ngFor="let source of sourceList" [ngValue]="source.id">{{source.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="card text-center mb-3" *ngFor="let news of newsList">
    <div class="card-header">
      {{news.source.name}}
    </div>
    <div class="news-preview">
      <img [src]="news.urlToImage" alt="">
    </div>
    <div class="card-body">
      <h5 class="card-title" appShowDescription>{{news.title}}</h5>
      <p class="card-text" [hidden]="true">{{news.description}}</p>
      <a href="{{news.url}}" class="btn btn-primary">Read more</a>
    </div>
    <div class="card-footer">
      {{news.publishedAt | customDate: "ru-RU": "full"}}
    </div>
  </div>
</div>
